{
  "openapi": "3.0.3",
  "info": {
    "title": "Project NEXUS v2 API",
    "version": "2.0.0",
    "description": "The complete V2 REST API for Project NEXUS. Use this standard when building federated integrations."
  },
  "servers": [
    {
      "url": "https://api.project-nexus.net",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/v2/admin/dashboard/stats": {
      "get": {
        "summary": "GET /api/v2/admin/dashboard/stats",
        "tags": [
          "Admin Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/dashboard/trends": {
      "get": {
        "summary": "GET /api/v2/admin/dashboard/trends",
        "tags": [
          "Admin Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/dashboard/activity": {
      "get": {
        "summary": "GET /api/v2/admin/dashboard/activity",
        "tags": [
          "Admin Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users": {
      "get": {
        "summary": "GET /api/v2/admin/users",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/users",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/import": {
      "post": {
        "summary": "POST /api/v2/admin/users/import",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/import/template": {
      "get": {
        "summary": "GET /api/v2/admin/users/import/template",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/users/{id}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/users/{id}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/users/{id}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/approve",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/suspend": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/suspend",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/ban": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/ban",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/reactivate": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/reactivate",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/reset-2fa": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/reset-2fa",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/badges/recheck-all": {
      "post": {
        "summary": "POST /api/v2/admin/users/badges/recheck-all",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/{id}/badges": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/badges",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "summary": "GET /api/v2/admin/users/{id}/badges",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/badges/{badgeId}": {
      "delete": {
        "summary": "DELETE /api/v2/admin/users/{id}/badges/{badgeId}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "badgeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/impersonate": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/impersonate",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/super-admin": {
      "put": {
        "summary": "PUT /api/v2/admin/users/{id}/super-admin",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/badges/recheck": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/badges/recheck",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/consents": {
      "get": {
        "summary": "GET /api/v2/admin/users/{id}/consents",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/password": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/password",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/send-password-reset": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/send-password-reset",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/send-welcome-email": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/send-welcome-email",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/listings": {
      "get": {
        "summary": "GET /api/v2/admin/listings",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/listings/moderation-queue": {
      "get": {
        "summary": "GET /api/v2/admin/listings/moderation-queue",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/listings/moderation-stats": {
      "get": {
        "summary": "GET /api/v2/admin/listings/moderation-stats",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/listings/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/listings/{id}",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/listings/{id}",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/listings/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/listings/{id}/approve",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/categories": {
      "get": {
        "summary": "GET /api/v2/admin/categories",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/categories",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/categories/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/categories/{id}",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/categories/{id}",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/attributes": {
      "get": {
        "summary": "GET /api/v2/admin/attributes",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/attributes",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/attributes/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/attributes/{id}",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/attributes/{id}",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/config": {
      "get": {
        "summary": "GET /api/v2/admin/config",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/features": {
      "put": {
        "summary": "PUT /api/v2/admin/config/features",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/modules": {
      "put": {
        "summary": "PUT /api/v2/admin/config/modules",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/cache/stats": {
      "get": {
        "summary": "GET /api/v2/admin/cache/stats",
        "tags": [
          "Admin Cache"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/cache/clear": {
      "post": {
        "summary": "POST /api/v2/admin/cache/clear",
        "tags": [
          "Admin Cache"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/background-jobs": {
      "get": {
        "summary": "GET /api/v2/admin/background-jobs",
        "tags": [
          "Admin Background-jobs"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/background-jobs/{id}/run": {
      "post": {
        "summary": "POST /api/v2/admin/background-jobs/{id}/run",
        "tags": [
          "Admin Background-jobs"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/settings": {
      "get": {
        "summary": "GET /api/v2/admin/settings",
        "tags": [
          "Admin Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/settings",
        "tags": [
          "Admin Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/ai": {
      "get": {
        "summary": "GET /api/v2/admin/config/ai",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/ai",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/feed-algorithm": {
      "get": {
        "summary": "GET /api/v2/admin/config/feed-algorithm",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/feed-algorithm",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/algorithms": {
      "get": {
        "summary": "GET /api/v2/admin/config/algorithms",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/algorithm/{area}": {
      "put": {
        "summary": "PUT /api/v2/admin/config/algorithm/{area}",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/config/algorithm-health": {
      "get": {
        "summary": "GET /api/v2/admin/config/algorithm-health",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/images": {
      "get": {
        "summary": "GET /api/v2/admin/config/images",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/images",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/seo": {
      "get": {
        "summary": "GET /api/v2/admin/config/seo",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/seo",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/languages": {
      "get": {
        "summary": "GET /api/v2/admin/config/languages",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/languages",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/native-app": {
      "get": {
        "summary": "GET /api/v2/admin/config/native-app",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/native-app",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/{id}/run": {
      "post": {
        "summary": "POST /api/v2/admin/system/cron-jobs/{id}/run",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/system/cron-jobs/logs": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/logs",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/system/cron-jobs/logs",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/logs/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/logs/{id}",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/system/cron-jobs/settings": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/system/cron-jobs/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/health": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/health",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/{jobId}/settings": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/{jobId}/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/system/cron-jobs/{jobId}/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/system/activity-log": {
      "get": {
        "summary": "GET /api/v2/admin/system/activity-log",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/email/status": {
      "get": {
        "summary": "GET /api/v2/admin/email/status",
        "tags": [
          "Admin Email"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/email/test": {
      "post": {
        "summary": "POST /api/v2/admin/email/test",
        "tags": [
          "Admin Email"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/email/test-gmail": {
      "post": {
        "summary": "POST /api/v2/admin/email/test-gmail",
        "tags": [
          "Admin Email"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/config": {
      "get": {
        "summary": "GET /api/v2/admin/matching/config",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/matching/config",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/cache/clear": {
      "post": {
        "summary": "POST /api/v2/admin/matching/cache/clear",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/stats": {
      "get": {
        "summary": "GET /api/v2/admin/matching/stats",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/approvals": {
      "get": {
        "summary": "GET /api/v2/admin/matching/approvals",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/approvals/stats": {
      "get": {
        "summary": "GET /api/v2/admin/matching/approvals/stats",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/approvals/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/matching/approvals/{id}",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/matching/approvals/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/matching/approvals/{id}/approve",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/matching/approvals/{id}/reject": {
      "post": {
        "summary": "POST /api/v2/admin/matching/approvals/{id}/reject",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/help/faqs": {
      "get": {
        "summary": "GET /api/v2/admin/help/faqs",
        "tags": [
          "Admin Help"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/help/faqs",
        "tags": [
          "Admin Help"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/help/faqs/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/help/faqs/{id}",
        "tags": [
          "Admin Help"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/help/faqs/{id}",
        "tags": [
          "Admin Help"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/blog": {
      "get": {
        "summary": "GET /api/v2/admin/blog",
        "tags": [
          "Admin Blog"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/blog",
        "tags": [
          "Admin Blog"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/blog/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/blog/{id}",
        "tags": [
          "Admin Blog"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/blog/{id}",
        "tags": [
          "Admin Blog"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/blog/{id}",
        "tags": [
          "Admin Blog"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/blog/{id}/toggle-status": {
      "post": {
        "summary": "POST /api/v2/admin/blog/{id}/toggle-status",
        "tags": [
          "Admin Blog"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/feed/posts": {
      "get": {
        "summary": "GET /api/v2/admin/feed/posts",
        "tags": [
          "Admin Feed"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/feed/posts/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/feed/posts/{id}",
        "tags": [
          "Admin Feed"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/feed/posts/{id}",
        "tags": [
          "Admin Feed"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/feed/posts/{id}/hide": {
      "post": {
        "summary": "POST /api/v2/admin/feed/posts/{id}/hide",
        "tags": [
          "Admin Feed"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/feed/stats": {
      "get": {
        "summary": "GET /api/v2/admin/feed/stats",
        "tags": [
          "Admin Feed"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/comments": {
      "get": {
        "summary": "GET /api/v2/admin/comments",
        "tags": [
          "Admin Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/comments/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/comments/{id}",
        "tags": [
          "Admin Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/comments/{id}",
        "tags": [
          "Admin Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/comments/{id}/hide": {
      "post": {
        "summary": "POST /api/v2/admin/comments/{id}/hide",
        "tags": [
          "Admin Comments"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/reviews": {
      "get": {
        "summary": "GET /api/v2/admin/reviews",
        "tags": [
          "Admin Reviews"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reviews/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/reviews/{id}",
        "tags": [
          "Admin Reviews"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/reviews/{id}",
        "tags": [
          "Admin Reviews"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/reviews/{id}/flag": {
      "post": {
        "summary": "POST /api/v2/admin/reviews/{id}/flag",
        "tags": [
          "Admin Reviews"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/reviews/{id}/hide": {
      "post": {
        "summary": "POST /api/v2/admin/reviews/{id}/hide",
        "tags": [
          "Admin Reviews"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/reports": {
      "get": {
        "summary": "GET /api/v2/admin/reports",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reports/stats": {
      "get": {
        "summary": "GET /api/v2/admin/reports/stats",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reports/social-value": {
      "get": {
        "summary": "GET /api/v2/admin/reports/social-value",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reports/social-value/config": {
      "put": {
        "summary": "PUT /api/v2/admin/reports/social-value/config",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reports/members": {
      "get": {
        "summary": "GET /api/v2/admin/reports/members",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reports/hours": {
      "get": {
        "summary": "GET /api/v2/admin/reports/hours",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reports/export-types": {
      "get": {
        "summary": "GET /api/v2/admin/reports/export-types",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/reports/{type}/export": {
      "get": {
        "summary": "GET /api/v2/admin/reports/{type}/export",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/reports/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/reports/{id}",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/reports/{id}/resolve": {
      "post": {
        "summary": "POST /api/v2/admin/reports/{id}/resolve",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/reports/{id}/dismiss": {
      "post": {
        "summary": "POST /api/v2/admin/reports/{id}/dismiss",
        "tags": [
          "Admin Reports"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/gamification/stats": {
      "get": {
        "summary": "GET /api/v2/admin/gamification/stats",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/gamification/badges": {
      "get": {
        "summary": "GET /api/v2/admin/gamification/badges",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/gamification/badges",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/gamification/badges/{id}": {
      "delete": {
        "summary": "DELETE /api/v2/admin/gamification/badges/{id}",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/gamification/campaigns": {
      "get": {
        "summary": "GET /api/v2/admin/gamification/campaigns",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/gamification/campaigns",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/gamification/campaigns/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/gamification/campaigns/{id}",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/gamification/campaigns/{id}",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/gamification/recheck-all": {
      "post": {
        "summary": "POST /api/v2/admin/gamification/recheck-all",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/gamification/bulk-award": {
      "post": {
        "summary": "POST /api/v2/admin/gamification/bulk-award",
        "tags": [
          "Admin Gamification"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups": {
      "get": {
        "summary": "GET /api/v2/admin/groups",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/analytics": {
      "get": {
        "summary": "GET /api/v2/admin/groups/analytics",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/approvals": {
      "get": {
        "summary": "GET /api/v2/admin/groups/approvals",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/approvals/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/groups/approvals/{id}/approve",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/approvals/{id}/reject": {
      "post": {
        "summary": "POST /api/v2/admin/groups/approvals/{id}/reject",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/moderation": {
      "get": {
        "summary": "GET /api/v2/admin/groups/moderation",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/types": {
      "get": {
        "summary": "GET /api/v2/admin/groups/types",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/groups/types",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/types/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/groups/types/{id}",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/groups/types/{id}",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/types/{id}/policies": {
      "get": {
        "summary": "GET /api/v2/admin/groups/types/{id}/policies",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/groups/types/{id}/policies",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/batch-geocode": {
      "post": {
        "summary": "POST /api/v2/admin/groups/batch-geocode",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/recommendations": {
      "get": {
        "summary": "GET /api/v2/admin/groups/recommendations",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/featured": {
      "get": {
        "summary": "GET /api/v2/admin/groups/featured",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/featured/update": {
      "post": {
        "summary": "POST /api/v2/admin/groups/featured/update",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/groups/{id}/status": {
      "put": {
        "summary": "PUT /api/v2/admin/groups/{id}/status",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/{id}": {
      "delete": {
        "summary": "DELETE /api/v2/admin/groups/{id}",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "summary": "GET /api/v2/admin/groups/{id}",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/groups/{id}",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/{id}/toggle-featured": {
      "put": {
        "summary": "PUT /api/v2/admin/groups/{id}/toggle-featured",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/{id}/geocode": {
      "post": {
        "summary": "POST /api/v2/admin/groups/{id}/geocode",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/{groupId}/members": {
      "get": {
        "summary": "GET /api/v2/admin/groups/{groupId}/members",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/{groupId}/members/{userId}/promote": {
      "post": {
        "summary": "POST /api/v2/admin/groups/{groupId}/members/{userId}/promote",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/{groupId}/members/{userId}/demote": {
      "post": {
        "summary": "POST /api/v2/admin/groups/{groupId}/members/{userId}/demote",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/groups/{groupId}/members/{userId}": {
      "delete": {
        "summary": "DELETE /api/v2/admin/groups/{groupId}/members/{userId}",
        "tags": [
          "Admin Groups"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/timebanking/stats": {
      "get": {
        "summary": "GET /api/v2/admin/timebanking/stats",
        "tags": [
          "Admin Timebanking"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/timebanking/alerts": {
      "get": {
        "summary": "GET /api/v2/admin/timebanking/alerts",
        "tags": [
          "Admin Timebanking"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/timebanking/alerts/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/timebanking/alerts/{id}",
        "tags": [
          "Admin Timebanking"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/timebanking/adjust-balance": {
      "post": {
        "summary": "POST /api/v2/admin/timebanking/adjust-balance",
        "tags": [
          "Admin Timebanking"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/timebanking/org-wallets": {
      "get": {
        "summary": "GET /api/v2/admin/timebanking/org-wallets",
        "tags": [
          "Admin Timebanking"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/timebanking/user-report": {
      "get": {
        "summary": "GET /api/v2/admin/timebanking/user-report",
        "tags": [
          "Admin Timebanking"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/timebanking/user-statement": {
      "get": {
        "summary": "GET /api/v2/admin/timebanking/user-statement",
        "tags": [
          "Admin Timebanking"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/dashboard": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/dashboard",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/roles": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/roles",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/enterprise/roles",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/roles/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/roles/{id}",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/enterprise/roles/{id}",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/enterprise/roles/{id}",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/enterprise/permissions": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/permissions",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/gdpr/dashboard": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/gdpr/dashboard",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/gdpr/requests": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/gdpr/requests",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/gdpr/requests/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/enterprise/gdpr/requests/{id}",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/enterprise/gdpr/consents": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/gdpr/consents",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/gdpr/breaches": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/gdpr/breaches",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/enterprise/gdpr/breaches",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/gdpr/audit": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/gdpr/audit",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/monitoring": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/monitoring",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/monitoring/health": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/monitoring/health",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/monitoring/logs": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/monitoring/logs",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/config": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/config",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/enterprise/config",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/enterprise/config/secrets": {
      "get": {
        "summary": "GET /api/v2/admin/enterprise/config/secrets",
        "tags": [
          "Admin Enterprise"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/legal-documents": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/legal-documents",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/legal-documents/compliance": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents/compliance",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/legal-documents/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents/{id}",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/legal-documents/{id}",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/legal-documents/{id}",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/{docId}/versions": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents/{docId}/versions",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "POST /api/v2/admin/legal-documents/{docId}/versions",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/{docId}/versions/compare": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents/{docId}/versions/compare",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/{docId}/versions/{versionId}": {
      "put": {
        "summary": "PUT /api/v2/admin/legal-documents/{docId}/versions/{versionId}",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/legal-documents/{docId}/versions/{versionId}",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/versions/{versionId}/publish": {
      "post": {
        "summary": "POST /api/v2/admin/legal-documents/versions/{versionId}/publish",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/versions/{versionId}/acceptances": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents/versions/{versionId}/acceptances",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/{docId}/acceptances/export": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents/{docId}/acceptances/export",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/{docId}/versions/{versionId}/notify": {
      "post": {
        "summary": "POST /api/v2/admin/legal-documents/{docId}/versions/{versionId}/notify",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/legal-documents/{docId}/versions/{versionId}/pending-count": {
      "get": {
        "summary": "GET /api/v2/admin/legal-documents/{docId}/versions/{versionId}/pending-count",
        "tags": [
          "Admin Legal-documents"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "docId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "versionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/dashboard": {
      "get": {
        "summary": "GET /api/v2/admin/broker/dashboard",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/exchanges": {
      "get": {
        "summary": "GET /api/v2/admin/broker/exchanges",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/exchanges/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/broker/exchanges/{id}/approve",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/exchanges/{id}/reject": {
      "post": {
        "summary": "POST /api/v2/admin/broker/exchanges/{id}/reject",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/risk-tags": {
      "get": {
        "summary": "GET /api/v2/admin/broker/risk-tags",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/messages": {
      "get": {
        "summary": "GET /api/v2/admin/broker/messages",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/messages/unreviewed-count": {
      "get": {
        "summary": "GET /api/v2/admin/broker/messages/unreviewed-count",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/messages/{id}/review": {
      "post": {
        "summary": "POST /api/v2/admin/broker/messages/{id}/review",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/monitoring": {
      "get": {
        "summary": "GET /api/v2/admin/broker/monitoring",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/messages/{id}/flag": {
      "post": {
        "summary": "POST /api/v2/admin/broker/messages/{id}/flag",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/monitoring/{userId}": {
      "post": {
        "summary": "POST /api/v2/admin/broker/monitoring/{userId}",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/risk-tags/{listingId}": {
      "post": {
        "summary": "POST /api/v2/admin/broker/risk-tags/{listingId}",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/broker/risk-tags/{listingId}",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/configuration": {
      "get": {
        "summary": "GET /api/v2/admin/broker/configuration",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/broker/configuration",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/exchanges/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/broker/exchanges/{id}",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/messages/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/broker/messages/{id}",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/messages/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/broker/messages/{id}/approve",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/broker/archives": {
      "get": {
        "summary": "GET /api/v2/admin/broker/archives",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/broker/archives/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/broker/archives/{id}",
        "tags": [
          "Admin Broker"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/vetting/stats": {
      "get": {
        "summary": "GET /api/v2/admin/vetting/stats",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/vetting/user/{userId}": {
      "get": {
        "summary": "GET /api/v2/admin/vetting/user/{userId}",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/vetting": {
      "get": {
        "summary": "GET /api/v2/admin/vetting",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/vetting",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/vetting/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/vetting/{id}",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/vetting/{id}",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/vetting/{id}",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/vetting/bulk": {
      "post": {
        "summary": "POST /api/v2/admin/vetting/bulk",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/vetting/{id}/verify": {
      "post": {
        "summary": "POST /api/v2/admin/vetting/{id}/verify",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/vetting/{id}/reject": {
      "post": {
        "summary": "POST /api/v2/admin/vetting/{id}/reject",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/vetting/{id}/upload": {
      "post": {
        "summary": "POST /api/v2/admin/vetting/{id}/upload",
        "tags": [
          "Admin Vetting"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/insurance/stats": {
      "get": {
        "summary": "GET /api/v2/admin/insurance/stats",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/insurance/user/{userId}": {
      "get": {
        "summary": "GET /api/v2/admin/insurance/user/{userId}",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/insurance": {
      "get": {
        "summary": "GET /api/v2/admin/insurance",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/insurance",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/insurance/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/insurance/{id}",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/insurance/{id}",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/insurance/{id}",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/insurance/{id}/verify": {
      "post": {
        "summary": "POST /api/v2/admin/insurance/{id}/verify",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/insurance/{id}/reject": {
      "post": {
        "summary": "POST /api/v2/admin/insurance/{id}/reject",
        "tags": [
          "Admin Insurance"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/newsletters": {
      "get": {
        "summary": "GET /api/v2/admin/newsletters",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/newsletters",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/newsletters/subscribers": {
      "get": {
        "summary": "GET /api/v2/admin/newsletters/subscribers",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/newsletters/segments": {
      "get": {
        "summary": "GET /api/v2/admin/newsletters/segments",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/newsletters/templates": {
      "get": {
        "summary": "GET /api/v2/admin/newsletters/templates",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/newsletters/analytics": {
      "get": {
        "summary": "GET /api/v2/admin/newsletters/analytics",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/newsletters/bounces": {
      "get": {
        "summary": "GET /api/v2/admin/newsletters/bounces",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/newsletters/suppression-list": {
      "get": {
        "summary": "GET /api/v2/admin/newsletters/suppression-list",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/newsletters/suppression-list/{email}/unsuppress": {
      "post": {
        "summary": "POST /api/v2/admin/newsletters/suppression-list/{email}/unsuppress",
        "tags": [
          "Admin Newsletters"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "email",
            "in": "path",
[...]
