{
  "openapi": "3.0.3",
  "info": {
    "title": "Project NEXUS v2 API",
    "version": "2.0.0",
    "description": "The complete V2 REST API for Project NEXUS. Use this standard when building federated integrations."
  },
  "servers": [
    {
      "url": "https://api.project-nexus.ie",
      "description": "Production Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Sanctum or legacy JWT"
      },
      "federationBearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Federation API key",
        "description": "Tenant-bound federation partner API key with the required ingest permission."
      }
    },
    "schemas": {
        "MarketplaceOrderCreateInput": {
          "type": "object",
          "required": [
            "listing_id",
            "idempotency_key"
          ],
          "properties": {
            "listing_id": {
              "type": "integer",
              "minimum": 1
            },
            "offer_id": {
              "type": "integer",
              "minimum": 1,
              "description": "Accepted offer belonging to the buyer.",
              "nullable": true
            },
            "quantity": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "shipping_option_id": {
              "type": "integer",
              "minimum": 1,
              "description": "Seller-owned option; its current server price and currency are authoritative.",
              "nullable": true
            },
            "shipping_method": {
              "type": "string",
              "enum": [
                "pickup",
                "community_delivery"
              ],
              "description": "Used only for zero-cost pickup or community delivery.",
              "nullable": true
            },
            "pickup_slot_id": {
              "type": "integer",
              "minimum": 1,
              "description": "Optional seller-owned pickup slot reserved atomically with order creation; valid only for pickup fulfilment.",
              "nullable": true
            },
            "delivery_address": {
              "type": "object",
              "additionalProperties": true,
              "nullable": true
            },
            "delivery_notes": {
              "type": "string",
              "maxLength": 500,
              "nullable": true
            },
            "coupon_code": {
              "type": "string",
              "maxLength": 64,
              "nullable": true
            },
            "idempotency_key": {
              "type": "string",
              "minLength": 16,
              "maxLength": 100
            },
            "loyalty_redemption_id": {
              "type": "integer",
              "minimum": 1,
              "description": "Pending redemption validated and applied atomically by the server; cannot be combined with a coupon.",
              "nullable": true
            },
            "payment_method": {
              "type": "string",
              "enum": [
                "cash",
                "time_credits",
                "free"
              ],
              "default": "cash",
              "nullable": true
            }
          }
        },
        "MarketplacePerson": {
          "type": "object",
          "required": [
            "id",
            "name"
          ],
          "properties": {
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            },
            "avatar_url": {
              "type": "string",
              "nullable": true
            }
          }
        },
        "MarketplaceListingSummary": {
          "type": "object",
          "required": [
            "id",
            "title"
          ],
          "properties": {
            "id": {
              "type": "integer"
            },
            "title": {
              "type": "string"
            },
            "price": {
              "type": "number",
              "format": "double",
              "nullable": true
            },
            "price_currency": {
              "type": "string",
              "nullable": true
            },
            "status": {
              "type": "string",
              "nullable": true
            },
            "delivery_method": {
              "type": "string",
              "nullable": true
            },
            "image": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string",
                  "nullable": true
                },
                "thumbnail_url": {
                  "type": "string",
                  "nullable": true
                }
              },
              "nullable": true
            }
          }
        },
        "MarketplaceOrder": {
          "type": "object",
          "required": [
            "id",
            "order_number",
            "status",
            "quantity",
            "unit_price",
            "total_price",
            "currency",
            "payment_method",
            "requires_payment",
            "listing"
          ],
          "properties": {
            "id": {
              "type": "integer"
            },
            "order_number": {
              "type": "string",
              "pattern": "^MKT-[0-9A-HJKMNP-TV-Z]{26}$"
            },
            "status": {
              "type": "string",
              "enum": [
                "pending_payment",
                "paid",
                "shipped",
                "delivered",
                "completed",
                "cancelled",
                "refunded",
                "disputed"
              ]
            },
            "quantity": {
              "type": "integer",
              "minimum": 1
            },
            "unit_price": {
              "type": "number",
              "format": "double",
              "minimum": 0
            },
            "total_price": {
              "type": "number",
              "format": "double",
              "minimum": 0
            },
            "currency": {
              "type": "string"
            },
            "time_credits_used": {
              "type": "number",
              "format": "double",
              "minimum": 0,
              "nullable": true
            },
            "wallet_transaction_id": {
              "type": "integer",
              "nullable": true
            },
            "wallet_refund_transaction_id": {
              "type": "integer",
              "description": "Present after a time-credit refund; null for cash, free, and historical orders.",
              "nullable": true
            },
            "loyalty_redemption_id": {
              "type": "integer",
              "nullable": true
            },
            "payment_method": {
              "type": "string",
              "enum": [
                "cash",
                "time_credits",
                "free"
              ]
            },
            "requires_payment": {
              "type": "boolean"
            },
            "payment_expires_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "shipping_method": {
              "type": "string",
              "nullable": true
            },
            "shipping_option_id": {
              "type": "integer",
              "nullable": true
            },
            "shipping_cost": {
              "type": "number",
              "format": "double",
              "minimum": 0,
              "nullable": true
            },
            "tracking_number": {
              "type": "string",
              "nullable": true
            },
            "tracking_url": {
              "type": "string",
              "nullable": true
            },
            "delivery_address": {
              "type": "object",
              "additionalProperties": true,
              "nullable": true
            },
            "delivery_notes": {
              "type": "string",
              "nullable": true
            },
            "buyer_confirmed_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "seller_confirmed_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "auto_complete_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "cancelled_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "cancellation_reason": {
              "type": "string",
              "nullable": true
            },
            "escrow_released_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "updated_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "listing": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketplaceListingSummary"
                }
              ],
              "nullable": true,
              "description": "Null when a historical order outlives its deleted listing."
            },
            "buyer": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketplacePerson"
                }
              ],
              "nullable": true
            },
            "seller": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketplacePerson"
                }
              ],
              "nullable": true
            },
            "ratings": {
              "type": "array",
              "items": {
                "type": "object",
                "additionalProperties": true
              }
            },
            "dispute": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "integer"
                },
                "reason": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "created_at": {
                  "type": "string",
                  "format": "date-time",
                  "nullable": true
                }
              },
              "nullable": true
            }
          }
        },
        "MarketplaceReport": {
          "type": "object",
          "required": [
            "id",
            "marketplace_listing_id",
            "status",
            "can_appeal",
            "viewer_role",
            "listing"
          ],
          "properties": {
            "id": {
              "type": "integer"
            },
            "marketplace_listing_id": {
              "type": "integer"
            },
            "reason": {
              "type": "string"
            },
            "description": {
              "type": "string",
              "description": "Hidden from the affected seller.",
              "nullable": true
            },
            "evidence_urls": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uri"
              },
              "description": "Hidden from the affected seller.",
              "nullable": true
            },
            "status": {
              "type": "string",
              "enum": [
                "received",
                "acknowledged",
                "under_review",
                "action_taken",
                "no_action",
                "appealed",
                "appeal_resolved"
              ]
            },
            "acknowledged_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "resolved_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "resolution_reason": {
              "type": "string",
              "nullable": true
            },
            "action_taken": {
              "type": "string",
              "enum": [
                "none",
                "warning",
                "listing_removed",
                "seller_suspended"
              ],
              "nullable": true
            },
            "appeal_text": {
              "type": "string",
              "description": "Visible only to the user who lodged the appeal.",
              "nullable": true
            },
            "appeal_resolved_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "can_appeal": {
              "type": "boolean"
            },
            "viewer_role": {
              "type": "string",
              "enum": [
                "reporter",
                "seller"
              ]
            },
            "listing": {
              "type": "object",
              "required": [
                "id",
                "title",
                "status"
              ],
              "properties": {
                "id": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                }
              },
              "nullable": true,
              "description": "Null when the referenced historical listing no longer exists."
            }
          }
        },
        "MarketplaceDisputeOrder": {
          "type": "object",
          "required": [
            "id",
            "order_number",
            "total_price",
            "time_credits_used",
            "currency",
            "status",
            "listing"
          ],
          "properties": {
            "id": {
              "type": "integer"
            },
            "order_number": {
              "type": "string"
            },
            "total_price": {
              "type": "number",
              "format": "double",
              "minimum": 0
            },
            "time_credits_used": {
              "type": "number",
              "format": "double",
              "minimum": 0
            },
            "currency": {
              "type": "string"
            },
            "status": {
              "type": "string"
            },
            "listing": {
              "type": "object",
              "required": [
                "id",
                "title"
              ],
              "properties": {
                "id": {
                  "type": "integer"
                },
                "title": {
                  "type": "string"
                }
              },
              "nullable": true,
              "description": "Null when the order references a deleted historical listing."
            },
            "buyer": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketplacePerson"
                }
              ],
              "nullable": true
            },
            "seller": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketplacePerson"
                }
              ],
              "nullable": true
            }
          }
        },
        "MarketplaceDispute": {
          "type": "object",
          "required": [
            "id",
            "order_id",
            "reason",
            "description",
            "status",
            "order"
          ],
          "properties": {
            "id": {
              "type": "integer"
            },
            "order_id": {
              "type": "integer"
            },
            "reason": {
              "type": "string"
            },
            "description": {
              "type": "string"
            },
            "evidence_urls": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "nullable": true
            },
            "status": {
              "type": "string",
              "enum": [
                "open",
                "under_review",
                "resolved_buyer",
                "resolved_seller",
                "escalated",
                "closed"
              ]
            },
            "prior_order_status": {
              "type": "string",
              "nullable": true
            },
            "resolution_notes": {
              "type": "string",
              "nullable": true
            },
            "refund_amount": {
              "type": "number",
              "format": "double",
              "minimum": 0,
              "description": "Null until a buyer refund is recorded, including on historical disputes.",
              "nullable": true
            },
            "created_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "resolved_at": {
              "type": "string",
              "format": "date-time",
              "nullable": true
            },
            "opened_by": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketplacePerson"
                }
              ],
              "nullable": true
            },
            "order": {
              "type": "object",
              "allOf": [
                {
                  "$ref": "#/components/schemas/MarketplaceDisputeOrder"
                }
              ],
              "nullable": true,
              "description": "Null only for a historical dispute whose order is unavailable."
            }
          }
        },
        "MarketplaceOrderResponse": {
          "type": "object",
          "required": [
            "data",
            "meta"
          ],
          "properties": {
            "data": {
              "$ref": "#/components/schemas/MarketplaceOrder"
            },
            "meta": {
              "type": "object",
              "required": [
                "base_url"
              ],
              "properties": {
                "base_url": {
                  "type": "string"
                }
              }
            }
          }
        },
        "MarketplaceReportResponse": {
          "type": "object",
          "required": [
            "data",
            "meta"
          ],
          "properties": {
            "data": {
              "$ref": "#/components/schemas/MarketplaceReport"
            },
            "meta": {
              "type": "object",
              "required": [
                "base_url"
              ],
              "properties": {
                "base_url": {
                  "type": "string"
                }
              }
            }
          }
        },
        "MarketplaceReportCollectionResponse": {
          "type": "object",
          "required": [
            "data",
            "meta"
          ],
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/MarketplaceReport"
              }
            },
            "meta": {
              "type": "object",
              "required": [
                "base_url"
              ],
              "properties": {
                "base_url": {
                  "type": "string"
                }
              }
            }
          }
        },
        "MarketplaceDisputeCollectionResponse": {
          "type": "object",
          "required": [
            "data",
            "meta"
          ],
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/MarketplaceDispute"
              }
            },
            "meta": {
              "type": "object",
              "required": [
                "base_url",
                "current_page",
                "per_page",
                "total",
                "total_pages",
                "has_more"
              ],
              "properties": {
                "base_url": {
                  "type": "string"
                },
                "current_page": {
                  "type": "integer",
                  "minimum": 1
                },
                "per_page": {
                  "type": "integer",
                  "minimum": 1
                },
                "total": {
                  "type": "integer",
                  "minimum": 0
                },
                "total_pages": {
                  "type": "integer",
                  "minimum": 0
                },
                "has_more": {
                  "type": "boolean"
                }
              }
            }
          }
        },
        "MarketplaceActionResponse": {
          "type": "object",
          "required": [
            "data",
            "meta"
          ],
          "properties": {
            "data": {
              "type": "object",
              "required": [
                "message",
                "status"
              ],
              "properties": {
                "message": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "action_taken": {
                  "type": "string",
                  "nullable": true
                }
              }
            },
            "meta": {
              "type": "object",
              "required": [
                "base_url"
              ],
              "properties": {
                "base_url": {
                  "type": "string"
                }
              }
            }
          }
        },
      "EventRecurrenceCapabilities": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "contract_version",
          "engine",
          "structured_input",
          "supported_frequencies",
          "max_occurrences",
          "supported_end_types",
          "supports_rolling_never",
          "supports_effective_revisions",
          "supports_definition_blueprints",
          "schema_ready",
          "rollout_state"
        ],
        "properties": {
          "contract_version": {
            "type": "integer",
            "enum": [
              1
            ]
          },
          "engine": {
            "type": "string",
            "enum": [
              "legacy",
              "v2"
            ]
          },
          "structured_input": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "supported_frequencies": {
            "type": "array",
            "minItems": 4,
            "maxItems": 4,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "yearly"
              ]
            }
          },
          "max_occurrences": {
            "type": "integer",
            "minimum": 1,
            "maximum": 5000
          },
          "supported_end_types": {
            "type": "array",
            "minItems": 2,
            "maxItems": 3,
            "uniqueItems": true,
            "items": {
              "type": "string",
              "enum": [
                "after_count",
                "on_date",
                "never"
              ]
            }
          },
          "supports_rolling_never": {
            "type": "boolean"
          },
          "supports_effective_revisions": {
            "type": "boolean"
          },
          "supports_definition_blueprints": {
            "type": "boolean"
          },
          "schema_ready": {
            "type": "boolean"
          },
          "rollout_state": {
            "type": "string",
            "enum": [
              "legacy",
              "v2_degraded",
              "v2_finite",
              "v2_rolling"
            ]
          }
        }
      },
      "EventRecurrenceCapabilitiesEnvelope": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "$ref": "#/components/schemas/EventRecurrenceCapabilities"
          },
          "meta": {
            "type": "object",
            "additionalProperties": false,
            "required": [
              "base_url"
            ],
            "properties": {
              "base_url": {
                "type": "string"
              }
            }
          }
        }
      },
      "EventRecurrenceProjection": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "parent_event_id",
          "root_event_id",
          "is_template",
          "recurrence_id",
          "engine",
          "engine_version",
          "frequency",
          "interval",
          "rrule",
          "occurrence_count",
          "occurrences"
        ],
        "properties": {
          "parent_event_id": {
            "type": "integer",
            "minimum": 1,
            "nullable": true
          },
          "root_event_id": {
            "type": "integer",
            "minimum": 0
          },
          "is_template": {
            "type": "boolean"
          },
          "recurrence_id": {
            "type": "string",
            "pattern": "^[0-9]{8}T[0-9]{6}Z$",
            "nullable": true,
            "description": "Stable identity exposed only for a concrete maintained V2 occurrence."
          },
          "engine": {
            "type": "string",
            "enum": [
              "sabre-vobject"
            ],
            "nullable": true
          },
          "engine_version": {
            "type": "string",
            "enum": [
              "2"
            ],
            "nullable": true
          },
          "frequency": {
            "type": "string",
            "nullable": true
          },
          "interval": {
            "type": "integer",
            "minimum": 1
          },
          "rrule": {
            "type": "string",
            "nullable": true
          },
          "occurrence_count": {
            "type": "integer",
            "minimum": 0
          },
          "occurrences": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": false,
              "required": [
                "id",
                "start_at",
                "date"
              ],
              "properties": {
                "id": {
                  "type": "integer",
                  "minimum": 0
                },
                "start_at": {
                  "type": "string",
                  "nullable": true
                },
                "date": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      },
      "EventCanonicalDetailEnvelope": {
        "type": "object",
        "required": [
          "data"
        ],
        "additionalProperties": true,
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "contract_version",
              "series"
            ],
            "additionalProperties": true,
            "properties": {
              "contract_version": {
                "type": "integer",
                "enum": [
                  2
                ]
              },
              "series": {
                "type": "object",
                "required": [
                  "recurrence"
                ],
                "additionalProperties": true,
                "properties": {
                  "recurrence": {
                    "type": "object",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/EventRecurrenceProjection"
                      }
                    ],
                    "nullable": true
                  }
                }
              }
            }
          }
        }
      },
      "PodcastShowInput": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "slug": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "maxLength": 600
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "artwork_url": {
            "type": "string",
            "nullable": true,
            "description": "Platform-owned upload URL only"
          },
          "language": {
            "type": "string",
            "maxLength": 20
          },
          "category": {
            "type": "string",
            "nullable": true,
            "maxLength": 120
          },
          "author_name": {
            "type": "string",
            "nullable": true,
            "maxLength": 200
          },
          "owner_email": {
            "type": "string",
            "nullable": true,
            "format": "email",
            "maxLength": 320,
            "description": "Private RSS owner contact exposed only to the creator studio and administrators."
          },
          "copyright": {
            "type": "string",
            "nullable": true,
            "maxLength": 300
          },
          "funding_url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "explicit": {
            "type": "boolean",
            "default": false
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "members",
              "private"
            ]
          }
        }
      },
      "PodcastArtworkUploadResponse": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "url"
            ],
            "properties": {
              "url": {
                "type": "string",
                "description": "Tenant-scoped platform upload path",
                "pattern": "^/(uploads|storage)/"
              }
            }
          }
        }
      },
      "PodcastEpisodeInput": {
        "type": "object",
        "required": [
          "title"
        ],
        "properties": {
          "title": {
            "type": "string",
            "maxLength": 200
          },
          "slug": {
            "type": "string",
            "pattern": "^[A-Za-z0-9_-]+$"
          },
          "summary": {
            "type": "string",
            "nullable": true,
            "maxLength": 600
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "audio_url": {
            "type": "string",
            "nullable": true,
            "format": "uri",
            "description": "HTTPS URL (HTTP is accepted only for localhost in development/testing)"
          },
          "audio_mime": {
            "type": "string",
            "nullable": true,
            "maxLength": 120
          },
          "audio_bytes": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "duration_seconds": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "episode_number": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "season_number": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "explicit": {
            "type": "boolean",
            "default": false
          },
          "episode_type": {
            "type": "string",
            "enum": [
              "full",
              "trailer",
              "bonus"
            ],
            "default": "full"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "inherit",
              "public",
              "members",
              "private"
            ]
          },
          "transcript": {
            "type": "string",
            "nullable": true
          },
          "transcript_language": {
            "type": "string",
            "nullable": true,
            "maxLength": 20
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true,
            "description": "Platform-owned upload URL only"
          },
          "scheduled_for": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "chapters": {
            "type": "array",
            "maxItems": 200,
            "items": {
              "type": "object",
              "required": [
                "starts_at_seconds",
                "title"
              ],
              "properties": {
                "starts_at_seconds": {
                  "type": "integer",
                  "minimum": 0
                },
                "title": {
                  "type": "string"
                },
                "url": {
                  "type": "string",
                  "nullable": true,
                  "format": "uri"
                }
              }
            }
          }
        }
      },
      "PodcastChapter": {
        "type": "object",
        "required": [
          "starts_at_seconds",
          "title"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "starts_at_seconds": {
            "type": "integer",
            "minimum": 0
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          }
        }
      },
      "PodcastEpisode": {
        "type": "object",
        "required": [
          "id",
          "show_id",
          "title",
          "slug",
          "status",
          "visibility"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "show_id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "audio_url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "audio_mime": {
            "type": "string",
            "nullable": true
          },
          "audio_bytes": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "duration_seconds": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "episode_number": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "season_number": {
            "type": "integer",
            "nullable": true,
            "minimum": 0
          },
          "explicit": {
            "type": "boolean"
          },
          "episode_type": {
            "type": "string",
            "enum": [
              "full",
              "trailer",
              "bonus"
            ]
          },
          "visibility": {
            "type": "string",
            "enum": [
              "inherit",
              "public",
              "members",
              "private"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          },
          "moderation_status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "flagged"
            ]
          },
          "media_processing_status": {
            "type": "string",
            "enum": [
              "pending",
              "processing",
              "complete",
              "failed"
            ]
          },
          "media_scan_status": {
            "type": "string",
            "enum": [
              "pending",
              "clean",
              "infected",
              "scan_unavailable",
              "not_required"
            ]
          },
          "transcript": {
            "type": "string",
            "nullable": true
          },
          "transcript_language": {
            "type": "string",
            "nullable": true
          },
          "cover_image_url": {
            "type": "string",
            "nullable": true
          },
          "scheduled_for": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "published_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "chapters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodcastChapter"
            }
          }
        }
      },
      "PodcastShow": {
        "type": "object",
        "required": [
          "id",
          "title",
          "slug",
          "status",
          "visibility"
        ],
        "properties": {
          "id": {
            "type": "integer"
          },
          "title": {
            "type": "string"
          },
          "slug": {
            "type": "string"
          },
          "summary": {
            "type": "string",
            "nullable": true
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "artwork_url": {
            "type": "string",
            "nullable": true
          },
          "language": {
            "type": "string"
          },
          "category": {
            "type": "string",
            "nullable": true
          },
          "author_name": {
            "type": "string",
            "nullable": true
          },
          "copyright": {
            "type": "string",
            "nullable": true
          },
          "funding_url": {
            "type": "string",
            "nullable": true,
            "format": "uri"
          },
          "explicit": {
            "type": "boolean"
          },
          "visibility": {
            "type": "string",
            "enum": [
              "public",
              "members",
              "private"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "draft",
              "published",
              "archived"
            ]
          },
          "moderation_status": {
            "type": "string",
            "enum": [
              "pending",
              "approved",
              "rejected",
              "flagged"
            ]
          },
          "published_at": {
            "type": "string",
            "nullable": true,
            "format": "date-time"
          },
          "rss_enabled": {
            "type": "boolean"
          },
          "episodes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodcastEpisode"
            }
          }
        }
      },
      "PodcastStudioShow": {
        "allOf": [
          {
            "$ref": "#/components/schemas/PodcastShow"
          },
          {
            "type": "object",
            "properties": {
              "owner_email": {
                "type": "string",
                "nullable": true,
                "format": "email"
              },
              "moderation_feedback": {
                "type": "string",
                "nullable": true
              }
            }
          }
        ]
      },
      "PodcastShowResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PodcastShow"
          }
        }
      },
      "PodcastStudioShowResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PodcastStudioShow"
          }
        }
      },
      "PodcastEpisodeResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "$ref": "#/components/schemas/PodcastEpisode"
          }
        }
      },
      "PodcastShowCollectionResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "meta"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodcastShow"
            }
          },
          "meta": {
            "allOf": [
              {
                "$ref": "#/components/schemas/PaginationMeta"
              },
              {
                "type": "object",
                "properties": {
                  "categories": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "PodcastStudioCollectionResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "meta"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodcastStudioShow"
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PodcastAdminIndexResponse": {
        "type": "object",
        "required": [
          "success",
          "data",
          "meta"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "required": [
              "shows",
              "episodes",
              "reports",
              "totals"
            ],
            "properties": {
              "shows": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PodcastStudioShow"
                }
              },
              "episodes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/PodcastEpisode"
                }
              },
              "reports": {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              },
              "totals": {
                "type": "object",
                "additionalProperties": {
                  "type": "integer"
                }
              }
            }
          },
          "meta": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PodcastConfigResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "PodcastOperationResponse": {
        "type": "object",
        "required": [
          "success",
          "data"
        ],
        "properties": {
          "success": {
            "type": "boolean",
            "enum": [
              true
            ]
          },
          "data": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ApiErrorItem": {
        "type": "object",
        "required": [
          "code",
          "message"
        ],
        "properties": {
          "code": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "field": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "ApiErrorResponse": {
        "type": "object",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/ApiErrorItem"
            }
          }
        }
      },
      "MessageVoiceResponse": {
        "type": "object",
        "required": [
          "data",
          "meta"
        ],
        "properties": {
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "The newly created voice-message record, including its participant-authorized media URL."
          },
          "meta": {
            "type": "object",
            "required": [
              "base_url"
            ],
            "properties": {
              "base_url": {
                "type": "string",
                "format": "uri"
              }
            },
            "additionalProperties": true
          }
        }
      },
      "MessageMediaBinary": {
        "type": "string",
        "format": "binary",
        "description": "Private message media returned with its stored MIME type. The response is never publicly cacheable."
      },
      "CspViolationDetails": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "document-uri": {
            "type": "string",
            "format": "uri"
          },
          "documentURL": {
            "type": "string",
            "format": "uri"
          },
          "blocked-uri": {
            "type": "string"
          },
          "blockedURL": {
            "type": "string"
          },
          "violated-directive": {
            "type": "string",
            "maxLength": 120
          },
          "effectiveDirective": {
            "type": "string",
            "maxLength": 120
          },
          "source-file": {
            "type": "string",
            "format": "uri"
          },
          "sourceFile": {
            "type": "string",
            "format": "uri"
          },
          "line-number": {
            "type": "integer",
            "minimum": 0
          },
          "lineNumber": {
            "type": "integer",
            "minimum": 0
          }
        }
      },
      "CspReportEnvelope": {
        "type": "object",
        "additionalProperties": true,
        "description": "A legacy CSP report, Reporting API report body, or raw violation object. Unknown browser fields are accepted and ignored.",
        "properties": {
          "csp-report": {
            "$ref": "#/components/schemas/CspViolationDetails"
          },
          "body": {
            "$ref": "#/components/schemas/CspViolationDetails"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer",
            "minimum": 1
          },
          "per_page": {
            "type": "integer",
            "minimum": 1
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "last_page": {
            "type": "integer",
            "minimum": 1
          }
        }
      }
    },
    "parameters": {
      "TenantId": {
        "name": "X-Tenant-ID",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        }
      },
      "PodcastId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "PodcastShowId": {
        "name": "showId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "PodcastEpisodeId": {
        "name": "episodeId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "PodcastTenantId": {
        "name": "tenantId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      },
      "PodcastShowSlug": {
        "name": "showSlug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z0-9_-]+$"
        }
      },
      "PodcastShowReference": {
        "name": "showReference",
        "in": "path",
        "required": true,
        "description": "Show slug for GET; numeric show ID for PUT and DELETE.",
        "schema": {
          "type": "string",
          "pattern": "^(?:[1-9][0-9]*|[A-Za-z0-9_-]+)$"
        }
      },
      "PodcastEpisodeSlug": {
        "name": "episodeSlug",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "pattern": "^[A-Za-z0-9_-]+$"
        }
      },
      "PodcastReportId": {
        "name": "reportId",
        "in": "path",
        "required": true,
        "schema": {
          "type": "integer",
          "minimum": 1
        }
      }
    },
    "requestBodies": {
      "PodcastShowInput": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PodcastShowInput"
            }
          }
        }
      },
      "PodcastEpisodeInput": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PodcastEpisodeInput"
            }
          },
          "multipart/form-data": {
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PodcastEpisodeInput"
                },
                {
                  "type": "object",
                  "properties": {
                    "audio": {
                      "type": "string",
                      "format": "binary"
                    }
                  }
                }
              ]
            }
          }
        }
      },
      "PodcastArtworkUpload": {
        "required": true,
        "content": {
          "multipart/form-data": {
            "schema": {
              "type": "object",
              "required": [
                "image"
              ],
              "properties": {
                "image": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          }
        }
      },
      "PodcastModerationInput": {
        "required": true,
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "required": [
                "action"
              ],
              "properties": {
                "action": {
                  "type": "string",
                  "enum": [
                    "approve",
                    "reject",
                    "flag"
                  ]
                },
                "notes": {
                  "type": "string",
                  "nullable": true
                }
              }
            }
          }
        }
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/api/csp-report": {
      "post": {
        "summary": "Collect a browser Content Security Policy violation",
        "description": "Unauthenticated browser reporting endpoint used by the platform CSP. It accepts legacy report-uri envelopes and Reporting API batches, sanitizes logged URLs to origin and path, and returns no content. Requests declaring a body larger than 32 KiB are rejected.",
        "operationId": "SecurityReport_collectCspViolation",
        "tags": [
          "Security"
        ],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/csp-report": {
              "schema": {
                "$ref": "#/components/schemas/CspReportEnvelope"
              }
            },
            "application/reports+json": {
              "schema": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/CspReportEnvelope"
                }
              }
            },
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CspReportEnvelope"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/CspReportEnvelope"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Report accepted, ignored, or malformed without exposing processing details"
          },
          "413": {
            "description": "Declared request body exceeds 32 KiB"
          }
        },
        "x-controller-action": "App\\Http\\Controllers\\Api\\SecurityReportController@csp"
      }
    },
    "/api/v2/marketplace/orders": {
      "post": {
        "operationId": "createMarketplaceOrder",
        "summary": "Create or replay a marketplace order",
        "description": "Prices, shipping cost, inventory, coupons, and loyalty value are resolved and validated by the server. The idempotency key is scoped to the authenticated buyer and tenant.",
        "tags": [
          "Marketplace Orders"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MarketplaceOrderCreateInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Order created, settled, or safely replayed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceOrderResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "Marketplace unavailable or purchase prohibited"
          },
          "422": {
            "description": "Invalid, unavailable, or inconsistent checkout selection"
          }
        }
      }
    },
    "/api/v2/marketplace/reports": {
      "get": {
        "operationId": "listMyMarketplaceReports",
        "summary": "List reports filed by or affecting the current user",
        "tags": [
          "Marketplace Reports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "Privacy-filtered report collection",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceReportCollectionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          }
        }
      }
    },
    "/api/v2/marketplace/reports/{id}": {
      "get": {
        "operationId": "getMarketplaceReport",
        "summary": "Get one privacy-filtered marketplace report",
        "tags": [
          "Marketplace Reports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Report visible to its reporter or affected seller",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceReportResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "User is not a report participant"
          },
          "404": {
            "description": "Report not found"
          }
        }
      }
    },
    "/api/v2/marketplace/reports/{id}/appeal": {
      "post": {
        "operationId": "appealMarketplaceReport",
        "summary": "Appeal an eligible marketplace report decision",
        "tags": [
          "Marketplace Reports"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "appeal_text"
                ],
                "properties": {
                  "appeal_text": {
                    "type": "string",
                    "minLength": 20,
                    "maxLength": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appeal accepted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceActionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required"
          },
          "403": {
            "description": "User is not eligible to appeal this report"
          },
          "422": {
            "description": "Report state or appeal text is invalid"
          }
        }
      }
    },
    "/api/v2/admin/marketplace/disputes": {
      "get": {
        "operationId": "listMarketplaceDisputes",
        "summary": "List tenant marketplace disputes for administrators",
        "tags": [
          "Marketplace Administration"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "open",
                "under_review",
                "resolved_buyer",
                "resolved_seller",
                "escalated",
                "closed"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated dispute queue",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceDisputeCollectionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Administrator required"
          }
        }
      }
    },
    "/api/v2/admin/marketplace/disputes/{id}/resolve": {
      "put": {
        "operationId": "resolveMarketplaceDispute",
        "summary": "Resolve a marketplace dispute and optionally refund the buyer",
        "tags": [
          "Marketplace Administration"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "resolution",
                  "resolution_notes"
                ],
                "properties": {
                  "resolution": {
                    "type": "string",
                    "enum": [
                      "buyer",
                      "seller",
                      "closed"
                    ]
                  },
                  "resolution_notes": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "refund_amount": {
                    "type": "number",
                    "format": "double",
                    "minimum": 0.01,
                    "description": "Buyer resolutions only; time-credit orders require a full refund.",
                    "nullable": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Dispute resolved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceActionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Administrator required"
          },
          "409": {
            "description": "Refund or resolution could not be completed safely"
          },
          "422": {
            "description": "Resolution is invalid for the dispute or payment type"
          }
        }
      }
    },
    "/api/v2/admin/marketplace/reports/{id}/resolve-appeal": {
      "put": {
        "operationId": "resolveMarketplaceReportAppeal",
        "summary": "Resolve a marketplace report appeal",
        "tags": [
          "Marketplace Administration"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "action_taken",
                  "resolution_reason"
                ],
                "properties": {
                  "action_taken": {
                    "type": "string",
                    "enum": [
                      "none",
                      "warning",
                      "listing_removed",
                      "seller_suspended"
                    ]
                  },
                  "resolution_reason": {
                    "type": "string",
                    "maxLength": 5000
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Appeal resolved and enforcement reconciled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketplaceActionResponse"
                }
              }
            }
          },
          "403": {
            "description": "Administrator required"
          },
          "422": {
            "description": "Report is not awaiting appeal resolution"
          }
        }
      }
    },
    "/api/v2/admin/dashboard/stats": {
      "get": {
        "summary": "GET /api/v2/admin/dashboard/stats",
        "tags": [
          "Admin Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/dashboard/trends": {
      "get": {
        "summary": "GET /api/v2/admin/dashboard/trends",
        "tags": [
          "Admin Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/dashboard/activity": {
      "get": {
        "summary": "GET /api/v2/admin/dashboard/activity",
        "tags": [
          "Admin Dashboard"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users": {
      "get": {
        "summary": "GET /api/v2/admin/users",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/users",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/import": {
      "post": {
        "summary": "POST /api/v2/admin/users/import",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/import/template": {
      "get": {
        "summary": "GET /api/v2/admin/users/import/template",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/users/{id}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/users/{id}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/users/{id}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/approve",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/suspend": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/suspend",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/ban": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/ban",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/reactivate": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/reactivate",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/reset-2fa": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/reset-2fa",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/badges/recheck-all": {
      "post": {
        "summary": "POST /api/v2/admin/users/badges/recheck-all",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/users/{id}/badges": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/badges",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "get": {
        "summary": "GET /api/v2/admin/users/{id}/badges",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/badges/{badgeId}": {
      "delete": {
        "summary": "DELETE /api/v2/admin/users/{id}/badges/{badgeId}",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "badgeId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/impersonate": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/impersonate",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/super-admin": {
      "put": {
        "summary": "PUT /api/v2/admin/users/{id}/super-admin",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/badges/recheck": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/badges/recheck",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/consents": {
      "get": {
        "summary": "GET /api/v2/admin/users/{id}/consents",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/password": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/password",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/send-password-reset": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/send-password-reset",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/users/{id}/send-welcome-email": {
      "post": {
        "summary": "POST /api/v2/admin/users/{id}/send-welcome-email",
        "tags": [
          "Admin Users"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/listings": {
      "get": {
        "summary": "GET /api/v2/admin/listings",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/listings/moderation-queue": {
      "get": {
        "summary": "GET /api/v2/admin/listings/moderation-queue",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/listings/moderation-stats": {
      "get": {
        "summary": "GET /api/v2/admin/listings/moderation-stats",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/listings/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/listings/{id}",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/listings/{id}",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/listings/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/listings/{id}/approve",
        "tags": [
          "Admin Listings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/categories": {
      "get": {
        "summary": "GET /api/v2/admin/categories",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/categories",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/categories/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/categories/{id}",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/categories/{id}",
        "tags": [
          "Admin Categories"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/attributes": {
      "get": {
        "summary": "GET /api/v2/admin/attributes",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/attributes",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/attributes/{id}": {
      "put": {
        "summary": "PUT /api/v2/admin/attributes/{id}",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/attributes/{id}",
        "tags": [
          "Admin Attributes"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/config": {
      "get": {
        "summary": "GET /api/v2/admin/config",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/features": {
      "put": {
        "summary": "PUT /api/v2/admin/config/features",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/modules": {
      "put": {
        "summary": "PUT /api/v2/admin/config/modules",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/cache/stats": {
      "get": {
        "summary": "GET /api/v2/admin/cache/stats",
        "tags": [
          "Admin Cache"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/cache/clear": {
      "post": {
        "summary": "POST /api/v2/admin/cache/clear",
        "tags": [
          "Admin Cache"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/background-jobs": {
      "get": {
        "summary": "GET /api/v2/admin/background-jobs",
        "tags": [
          "Admin Background-jobs"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/background-jobs/{id}/run": {
      "post": {
        "summary": "POST /api/v2/admin/background-jobs/{id}/run",
        "tags": [
          "Admin Background-jobs"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/settings": {
      "get": {
        "summary": "GET /api/v2/admin/settings",
        "tags": [
          "Admin Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/settings",
        "tags": [
          "Admin Settings"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/ai": {
      "get": {
        "summary": "GET /api/v2/admin/config/ai",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/ai",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/feed-algorithm": {
      "get": {
        "summary": "GET /api/v2/admin/config/feed-algorithm",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/feed-algorithm",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/algorithms": {
      "get": {
        "summary": "GET /api/v2/admin/config/algorithms",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/algorithm/{area}": {
      "put": {
        "summary": "PUT /api/v2/admin/config/algorithm/{area}",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "area",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/config/algorithm-health": {
      "get": {
        "summary": "GET /api/v2/admin/config/algorithm-health",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/images": {
      "get": {
        "summary": "GET /api/v2/admin/config/images",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/images",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/seo": {
      "get": {
        "summary": "GET /api/v2/admin/config/seo",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/seo",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/languages": {
      "get": {
        "summary": "GET /api/v2/admin/config/languages",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/languages",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/config/native-app": {
      "get": {
        "summary": "GET /api/v2/admin/config/native-app",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/config/native-app",
        "tags": [
          "Admin Config"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/{id}/run": {
      "post": {
        "summary": "POST /api/v2/admin/system/cron-jobs/{id}/run",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/system/cron-jobs/logs": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/logs",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/v2/admin/system/cron-jobs/logs",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/logs/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/logs/{id}",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/system/cron-jobs/settings": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/system/cron-jobs/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/health": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/health",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/system/cron-jobs/{jobId}/settings": {
      "get": {
        "summary": "GET /api/v2/admin/system/cron-jobs/{jobId}/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/v2/admin/system/cron-jobs/{jobId}/settings",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "jobId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/system/activity-log": {
      "get": {
        "summary": "GET /api/v2/admin/system/activity-log",
        "tags": [
          "Admin System"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/email/status": {
      "get": {
        "summary": "GET /api/v2/admin/email/status",
        "tags": [
          "Admin Email"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/email/test": {
      "post": {
        "summary": "POST /api/v2/admin/email/test",
        "tags": [
          "Admin Email"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/email/test-gmail": {
      "post": {
        "summary": "POST /api/v2/admin/email/test-gmail",
        "tags": [
          "Admin Email"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/config": {
      "get": {
        "summary": "GET /api/v2/admin/matching/config",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "put": {
        "summary": "PUT /api/v2/admin/matching/config",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/cache/clear": {
      "post": {
        "summary": "POST /api/v2/admin/matching/cache/clear",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/stats": {
      "get": {
        "summary": "GET /api/v2/admin/matching/stats",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/approvals": {
      "get": {
        "summary": "GET /api/v2/admin/matching/approvals",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/approvals/stats": {
      "get": {
        "summary": "GET /api/v2/admin/matching/approvals/stats",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/matching/approvals/{id}": {
      "get": {
        "summary": "GET /api/v2/admin/matching/approvals/{id}",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/matching/approvals/{id}/approve": {
      "post": {
        "summary": "POST /api/v2/admin/matching/approvals/{id}/approve",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/matching/approvals/{id}/reject": {
      "post": {
        "summary": "POST /api/v2/admin/matching/approvals/{id}/reject",
        "tags": [
          "Admin Matching"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/v2/admin/help/faqs": {
      "get": {
        "summary": "GET /api/v2/admin/help/faqs",
        "tags": [
          "Admin Help"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      },
      "post": {
        "summary": "POST /api/v2/admin/help/faqs",
        "tags": [
          "Admin Help"
        ],
        "responses": {
          "200": {
            "description": "Successful operation"
          }
        }
      }
    },
    "/api/v2/admin/help/faqs/{id}": {
      "put": {
[...]
