parameters:
	ignoreErrors:
		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Console/Commands/PrerenderPlanRoutes.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Core/Env.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Core/Mailer.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Api/AdminConfigController.php

		-
			message: '#^Call to static method error\(\) on an unknown class App\\Http\\Controllers\\Api\\Log\.$#'
			identifier: class.notFound
			count: 2
			path: app/Http/Controllers/Api/AdminEnterpriseController.php

		-
			message: '#^Class App\\Services\\RedisCacheService not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/Api/AdminOnboardingConfigController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Api/AdminPrerenderController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Api/AuthController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Api/OptionalIdentityVerificationController.php

		-
			message: '#^Call to static method isPrivateUrl\(\) on an unknown class App\\Http\\Controllers\\Api\\PartnerApi\\WebhookDispatchService\.$#'
			identifier: class.notFound
			count: 1
			path: app/Http/Controllers/Api/PartnerApi/PartnerV1Controller.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Api/SendGridWebhookController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Api/StripeWebhookController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/Api/Verein/MyDuesController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/GovukAlpha/AlphaController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Controllers/SitemapController.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Http/Middleware/CheckMaintenanceMode.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Http/Middleware/SecurityHeaders.php

		-
			message: '#^Call to static method endRequest\(\) on an unknown class App\\Services\\PerformanceMonitorService\.$#'
			identifier: class.notFound
			count: 1
			path: app/Middleware/PerformanceMonitoringMiddleware.php

		-
			message: '#^Call to static method isEnabled\(\) on an unknown class App\\Services\\PerformanceMonitorService\.$#'
			identifier: class.notFound
			count: 2
			path: app/Middleware/PerformanceMonitoringMiddleware.php

		-
			message: '#^Call to static method startRequest\(\) on an unknown class App\\Services\\PerformanceMonitorService\.$#'
			identifier: class.notFound
			count: 1
			path: app/Middleware/PerformanceMonitoringMiddleware.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 4
			path: app/Models/EmailSettings.php

		-
			message: '#^Property ''start_date'' is not a computed property, remove from \$appends\.$#'
			identifier: rules.modelAppends
			count: 1
			path: app/Models/Event.php

		-
			message: '#^Property ''read_at'' is not a computed property, remove from \$appends\.$#'
			identifier: rules.modelAppends
			count: 1
			path: app/Models/Notification.php

		-
			message: '#^Property ''title'' is not a computed property, remove from \$appends\.$#'
			identifier: rules.modelAppends
			count: 1
			path: app/Models/Notification.php

		-
			message: '#^Property ''tagline'' is not a computed property, remove from \$appends\.$#'
			identifier: rules.modelAppends
			count: 1
			path: app/Models/User.php

		-
			message: '#^Class App\\Services\\TokenService does not have a constructor and must be instantiated without any parameters\.$#'
			identifier: new.noConstructor
			count: 1
			path: app/Providers/AppServiceProvider.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Services/Agent/Agents/BaseAgent.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Services/Auth/SocialAuthService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 3
			path: app/Services/BlogService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Services/CaringCommunity/MunicipalCommunicationCopilotService.php

		-
			message: '#^Variable \$lockKey in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: app/Services/CronJobRunner.php

		-
			message: '#^Instantiated class App\\Core\\VaultClient not found\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/Enterprise/ConfigService.php

		-
			message: '#^Property App\\Services\\Enterprise\\ConfigService\:\:\$vault has unknown class App\\Core\\VaultClient as its type\.$#'
			identifier: class.notFound
			count: 1
			path: app/Services/Enterprise/ConfigService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Services/Enterprise/GdprService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 4
			path: app/Services/FederationRealtimeService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Services/GroupSearchService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Services/Identity/IdentityProviderRegistry.php

		-
			message: '#^Relation ''vacancy'' is not found in App\\Models\\JobPipelineRule model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Services/JobPipelineRuleService.php

		-
			message: '#^Relation ''user'' is not found in App\\Models\\JobVacancyTeam model\.$#'
			identifier: larastan.relationExistence
			count: 1
			path: app/Services/JobTeamService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Services/MailchimpService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 4
			path: app/Services/PrerenderService.php

		-
			message: '#^Static method Redis\:\:set\(\) invoked with 5 parameters, 2\-3 required\.$#'
			identifier: arguments.count
			count: 1
			path: app/Services/PresenceService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Services/PwnedPasswordService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 5
			path: app/Services/RegionalAnalytics/RegionalAnalyticsBilling.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Services/SearchService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 4
			path: app/Services/SitemapService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 2
			path: app/Services/StripeService.php

		-
			message: '#^Called ''env'' outside of the config directory which returns null when the config is cached, use ''config''\.$#'
			identifier: larastan.noEnvCallsOutsideOfConfig
			count: 1
			path: app/Services/TurnstileService.php
