<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTodoAnnotatedTests="true"
         failOnRisky="true"
         failOnWarning="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration">
            <directory suffix="Test.php">tests/Integration</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">tests/Feature</directory>
        </testsuite>
        <testsuite name="Models">
            <directory suffix="Test.php">tests/Models</directory>
        </testsuite>
        <testsuite name="Services">
            <directory suffix="Test.php">tests/Services</directory>
        </testsuite>
        <testsuite name="Controllers">
            <directory suffix="Test.php">tests/Controllers</directory>
        </testsuite>
        <testsuite name="Enterprise">
            <directory suffix="Test.php">tests/Enterprise</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <!-- DB_DATABASE: defaults to nexus; tests use transactions for isolation -->
        <env name="DB_DATABASE" value="nexus" force="false"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="SESSION_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="MAIL_DRIVER" value="array"/>
        <env name="LOG_CHANNEL" value="null"/>
    </php>
    <coverage>
        <report>
            <html outputDirectory="coverage/html"/>
            <clover outputFile="coverage/clover.xml"/>
            <cobertura outputFile="coverage/cobertura.xml"/>
            <text outputFile="coverage/coverage.txt"/>
        </report>
    </coverage>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">src/Config</directory>
            <directory suffix=".php">src/Migrations</directory>
        </exclude>
    </source>
    <groups>
        <exclude>
            <group>slow</group>
            <group>external</group>
        </exclude>
    </groups>
</phpunit>
