/**
 * CivicOne GOV.UK Password Input Component
 * Source: https://github.com/alphagov/govuk-frontend/blob/main/packages/govuk-frontend/src/govuk/components/password-input/_password-input.scss
 * Reference: https://design-system.service.gov.uk/components/password-input/
 *
 * WCAG 2.1 AA Compliant
 */

/* Password input wrapper - contains input and toggle button */
.govuk-password-input__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}

@media (min-width: 40.0625em) {
    .govuk-password-input__wrapper {
        flex-direction: row;
    }
}

/* Password input field */
.govuk-password-input__input {
    margin-bottom: 0;
}

@media (min-width: 40.0625em) {
    .govuk-password-input__input {
        flex: 1 1 auto;
        /* Remove right border radius when button is adjacent */
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
}

/* Show/hide toggle button */
.govuk-password-input__toggle {
    margin-bottom: 0;
    margin-top: 10px;
    flex: 0 0 auto;
}

@media (min-width: 40.0625em) {
    .govuk-password-input__toggle {
        margin-top: 0;
        margin-left: -1px; /* Overlap border with input */
        /* Remove left border radius when adjacent to input */
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

/* Ensure focus outline covers both elements */
.govuk-password-input__input:focus {
    z-index: 1;
}

.govuk-password-input__toggle:focus {
    z-index: 1;
}

/* Visually hidden status for screen readers */
.govuk-password-input__sr-status {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* Error state */
.govuk-form-group--error .govuk-password-input__input {
    border-color: var(--color-govuk-red);
}

.govuk-form-group--error .govuk-password-input__input:focus {
    border-color: var(--color-govuk-black);
}
