# Include this in the api.project-nexus.ie Apache vhost.

ProxyPreserveHost On
ProxyPass /.well-known/acme-challenge/ !
ProxyPass / http://127.0.0.1:${NEXUS_API_PORT}/ retry=0
ProxyPassReverse / http://127.0.0.1:${NEXUS_API_PORT}/
